html,
body {
  padding: 0;
  margin: 0;
  font-family: "Aileron-Regular";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "BluuNext-Bold";
  src: url("../public/BluuNext-Bold.otf") format("opentype")
}

@font-face {
  font-family: "Aileron-Regular";
  src: url("../public/Aileron-Regular.otf") format("opentype")
}
